.login_button{
    width: 100px;
    height: 30px;
    background:linear-gradient(to bottom,  white ,green);
    border: 1px solid;
    border-color: rebeccapurple;
    border-radius: 3px;
    margin-left: 48%;
    
    opacity: 90%;
    font-family: 'Bahnschrift Light';
    font-size:25px ;
    text-align: center;
    font-style: italic;
    display: block;
   transition: 0.4s;
    
}
.login_button:hover{
    width: 120px;
    height: 32px;
    margin-left: 47.4%;

}


body{
    background: linear-gradient(to bottom , rgb(26, 6, 26) , rgb(26, 9, 74));
    background-repeat: no-repeat;
    margin: auto;
    height: 100vh;

}
.after_click_login_button{
    margin-left: 100px;
    width: 100px;
    height: 30px;
    display: block;
    background:linear-gradient(to bottom,  white , white, white,rgb(220, 220, 220));
    border: 1px solid;
    border-color: rebeccapurple;
    border-radius: 3px;
    
  
    opacity: 90%;
    font-family: 'Bahnschrift Light';
    font-size:25px ;
    text-align: center;
    font-style: italic;
   transition: 0.4s;
}
.cancel_button{
    width: 100px;
    height: 30px;
    background:linear-gradient(to bottom,  white , white, white,rgb(220, 220, 220));
    border: 1px solid;
    border-color: rebeccapurple;
    border-radius: 3px;
    margin-left: 48%;
    margin-top: 10px;
    display: block;
  
    opacity: 90%;
    font-family: 'Bahnschrift Light';
    font-size:25px ;
    text-align: center;
    font-style: italic;
   transition: 0.4s;
}
.cancel_button:hover{
    width: 120px;
    height: 32px;
    margin-left: 47.4%;
}
.after_click_cancel_button:hover{
    width: 120px;
    height: 32px;
    margin-left:90px ;
}
.after_click_login_button:hover{
    width: 120px;
    height: 32px;
    margin-left:90px ;
}
.after_click_cancel_button{
    width: 100px;
    height: 30px;
    background:linear-gradient(to bottom ,red, rgb(0, 0, 0));
    color: white;
    border: 1px solid;
    border-color: rebeccapurple;
    border-radius: 3px;
    margin-left: 100px;
    display: block;
    margin-top: 10px;
    
    opacity: 90%;
    font-family: 'Bahnschrift Light';
    font-size:25px ;
    text-align: center;
    font-style: italic;
   transition: 0.4s;
   
}
.logo{
    margin-left: 37%;
    transition: 0.4s;
}
.after_click_logo{
    margin-left: -3%;
    transition: 0.4s;

}
.logo:hover{
    scale: 140%;
    filter: drop-shadow(5px 100px 5px black);
}
.after_click_logo:hover{
    scale: 140%;
    filter: drop-shadow(5px 100px 5px black);

    margin-left: 0%;
}
.iframe{
    width: 0px;
    margin-top: -100px;
    
    height: 200px;
   display: hidden;
   transition: 0.4s;
    margin-left: 1200px;
}
.iframe_after_click{
    display: inline;
    height: 200px;
    margin-top: -100px;
   transition: 0.4s;
   margin-left: 500px;

}